$shadow: .3rem .3rem .6rem var(--greyLight-2), 
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
inset -.2rem -.2rem .5rem var(--white);

.user-path-1{
    fill: var(--greyLight-1);
    filter: drop-shadow( 5px 5px 6px var(--greyLight-2)) drop-shadow(-3px -3px 6px var(--white));
}

.user-path-2{
    // fill: var(--greyLight-1);
    fill: url(#persona-2-fill);
    filter: drop-shadow( 5px 5px 6px var(--greyLight-2)) drop-shadow(-3px -3px 6px var(--white));
}